.button{
    cursor: pointer;
    color: black;
    background-color: white;
    border: solid 2px black;
    border-radius: 10px;
    padding: 0.8em 1.5em;
}
h2, h3, p{
    text-shadow: 2px 2px 1px black;
    color: white;
}

/* =======================================================
    PRESENTATION SECTION
======================================================= */
.presentation{
    min-height: 70vh;
    background-image: url(../img/background-forest.jpg);
    background-size: cover;
    align-items: center;
}
/* ================================ */
.presentation-texte{
    padding: 2em;
    margin: 5vh;
    width: 40%;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 50px;
}
.presentation-texte h2{
    margin: 2vh 0;
}
.presentation-texte p{
    margin-bottom: 4vh;
}
.presentation-buttons{
    justify-content: flex-end;
}
#RDV{
    margin-right: 1em;
}
/* ================================ */
.presentation-img{
    width: 30%;
    margin: auto;
}
.presentation-img img{
    max-width: 100%;
}
/* =======================================================
    SERVICES SECTION
======================================================= */
.services{
    min-height: 100vh;
    text-align: center;
    background-image: url(../img/background-dirt.jpg);
    background-size: cover;
}
/* ================================ */
.services-texte{
    padding-top: 20vh;
    width: 50%;
    margin: auto;
}
.services-texte p{
    padding: 5vh 0;
}
/* ================================ */
.services-cards{
    justify-content: center;
    padding-bottom: 5vh;
}
/* ================================ */
.services-card{
    min-height: 40vh;
    max-width: 15%;
    margin: 0 1em;
    padding: 0.5em;
    border-radius: 20px;
    backdrop-filter: blur(25px) saturate(107%);
    -webkit-backdrop-filter: blur(25px) saturate(107%);
    background-color: rgba(17, 25, 40, 0.13);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.services h3{
    margin-top: 2vh;
    font-size: 1.5rem;
}
.services-card p{
    margin-top: 2vh;
}
.services-card img{
    margin: 1.5em 0;
}
/* =======================================================
    INTERLUDE TERRE
======================================================= */
.interlude-terre{
    background-image: linear-gradient(#4C230F,#0E0002);
    text-align: center;
}
.interlude-terre-txt{
    margin: 0 auto;
    width: 60%;
    padding: 5em 0;
}
.interlude-terre-txt p{
    padding-top: 2em;
}
/* =======================================================
    REFERENCES SECTION
======================================================= */
.references{
    text-align: center;
    padding-top: 18em;
    background-image: url(../img/background-cave.jpg);
    background-size: cover;
    background-position: center;
}
/* ================================ */
.references-cards{
    justify-content: center;
}
/* ================================ */
.references-card{
    position: relative;
    width: 15em;
    height: 15em;
    margin: 1em 2em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.references-card img{
    border-radius: 10px;
    width: 100%;
}
/* .references-card-hidden{
    background-color: black;
    width: 15em;
    height: 15em;
    position: absolute;
    z-index: 1;
    opacity: 0;
}
.references-card-hidden:hover{
    opacity: 0.5;
} */
.references-card h3{
    position: absolute;
}
.references-card:hover{
    transform: translate(0px, -10px);
    transform: scale(1.10);
    box-shadow: 5px 5px 5px white;
    border-radius: 10px;
    transition: 0.3s;
}
.references-card h3{
    font-size: 2.1rem;
}
/* ================================ */
.references-end-texte{
    width: 50%;
    padding: 3em 0;
    margin: 0 auto;
    font-size: 1.2rem;
}
.references-end-texte p{
    margin-bottom: 0.8em;
}
.references .button{
    font-size: 1rem;
}
/* =======================================================
    INTERLUDE EAU
======================================================= */
.interlude-eau{
    height: 14em;
    background-image: linear-gradient(#38101B,#1A234C);
}
/* =======================================================
    COMMENTAIRES SECTION
======================================================= */
.commentaires{
    align-items: center;
    justify-content: space-around;
    background-image: url(../img/background-water.jpg);
    background-size: cover;
    background-position: center;
}
/* ================================ */
.commentaire-img{
    max-width: 100%;
}
.post-commentaire{
    text-align: center;
    padding: 1%;
    border-radius: 50px;
    width: 40%;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.post-commentaire h2{
    margin: 0.5em 0;
}
.post-commentaire p{
    margin-bottom: 1em;
}
.post textarea{
    padding: 1%;
    width: 90%;
    height: 10em;
    border: solid 3px black;
    margin-bottom: 1em;
    border-radius: 10px;
}
/* =======================================================
    INTERLUDE LAVE
======================================================= */
.interlude-lave{
    height: 8em;
    background-image: linear-gradient(#141545,#190810);
}


/* =======================================================
    MEDIAS QUERRIES
    Template W3School

    0 to 600px
    601px to 766px
    767px to 992px
    993px to 1119px
    1200px to 2000px

======================================================= */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .header-infos-reseaux, h1, #home, .presentation-img{
        display: none;
    }
    h2{
        font-size: 2rem;
    }
    .navbar{
        margin: 0 2em;
        justify-content: space-between;
        position: relative;
    }
    .search-bar{
        margin: 0;
        width: 25%;
    }
    .menu-burger{
        display: block;
    }
    nav{
        position: absolute;
        background-color: red;
        width: 50%;
        bottom: -205px;
        z-index: 1;
    }
    nav ul{
        flex-direction: column;
        padding-bottom: 1em;
    }
    nav ul li{
        margin: 3px 0;
    }
/* ===================================== */
    .presentation-texte{
        width: 80%;
        margin: auto;
    }
/* ================= */
    .services-texte{
        padding-top: 5em;
        width: 90%;
    }
    .services-cards{
        flex-direction: column;
    }
    .services-card{
        max-width: 90%;
        margin: 0 auto 1em auto;
    }
/* ================= */
    .interlude-terre-txt{
        width: 80%;
    }
/* ================= */
    .references{
        padding-top: 15em;
    }
    .references-cards{
        flex-wrap: wrap;
    }
    .references-card{
        width: 11em;
        height: 11em;
    }
    .references-card h3{
        font-size: 1.5rem;
    }
    .references-end-texte{
        width: 80%;
    }
/* ================= */
    .commentaires{
        flex-direction: column;
    }
    .commentaire-img{
        margin: 2em 0;
        width: 80%;
    }
    .post-commentaire{
        width: 90%;
    }
/* ================= */
    .footer-end{
        flex-direction: column;
        align-items: center;
    }
    .footer-end a{
        text-align: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .header-infos-reseaux, #home{
        display: none;
    }
    h2{
        font-size: 2rem;
    }
    h1{
        font-size: 3rem;
    }
    .navbar{
        margin: 0 2em;
        justify-content: space-between;
        position: relative;
    }
    .search-bar{
        margin: 0;
        width: 25%;
    }
    .menu-burger{
        display: block;
    }
    nav{
        position: absolute;
        background-color: red;
        width: 50%;
        bottom: -205px;
        z-index: 1;
    }
    nav ul{
        flex-direction: column;
        padding-bottom: 1em;
    }
    nav ul li{
        margin: 3px 0;
    }
/* ================= */
    nav li a{
        padding: 0.5em 0.2em;
    }
    .search-bar input{
        width: 100%;
    }
/* ================= */
    .services-texte{
        padding-top: 3em;
        width: 90%;
    }
    .services-cards{
        flex-wrap: wrap;
    }
    .services-card{
        max-width: 40%;
        margin: 0 auto 1em auto;
    }
/* ================= */
    .interlude-terre-txt{
        width: 80%;
    }
/* ================= */
    .references{
        padding-top: 15em;
    }
    .references-cards{
        flex-wrap: wrap;
    }
    .references-card{
        width: 12em;
        height: 12em;
    }
    .references-card h3{
        font-size: 1.6rem;
    }
    .references-end-texte{
        width: 80%;
    }
/* ================= */
    .commentaires{
        flex-direction: column;
        padding-bottom: 2em;
    }
    .commentaire-img{
        margin: 2em 0;
        width: 80%;
    }
    .post-commentaire{
        width: 90%;
    }
/* ================= */
    .footer-end a{
        display: flex;
        align-items: center;
        text-align: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .menu-burger{
        display: none;
    }
    .header-infos-reseaux{
        display: flex;
    }


    #home{
        display: inline-block
    }
    .navbar{
        margin: 0;
    }
    nav{
        width: 80%;
        position: static;
        background-color: transparent;
    }
    nav ul{
        flex-direction: row;
        padding: 0;
    }
    nav li a{
        padding: 0.5em 1em;
    }
    #home{
        max-width: 1rem;
    }
    .search-bar{
        width: 10%;
        margin-right: auto;
        margin-left: auto;
    }
    .search-bar input{
        max-width: 100%;
    }



/* ================= */
    .services-texte{
        padding-top: 3em;
        width: 90%;
    }
    .services-cards{
        flex-wrap: nowrap;
    }
    .services-card{
        max-width: 20%;
        margin: 0 1em;
    }
    .services-card button{
        justify-content: flex-end;
    }
/* ================= */
    .references-card{
        width: 12em;
        height: 12em;
        margin-left: 5em;
        margin-right: 5em;
    }
/* ================= */
    .commentaires{
        flex-direction: row;
    }
    .commentaire-img{
        max-width: 40%;
    }
    .post-commentaire{
        width: 35%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
    .services-texte{
        padding-top: 1em;
        width: 70%;
    }
    .services-texte p{
        padding-top: 8em;
    }
    .services-card{
        max-width: 20%;
        margin: 0 1em;
    }
    .interlude-terre-txt{
        width: 55%;
    }
    .references-card{
        width: 12em;
        height: 12em;
        margin: 1em 2em;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 2000px) {
    .services-texte{
        padding-top: 13em;
        width: 60%;
    }
    .services-texte p{
        padding-top: 2em;
    }
    .services-card{
        max-width: 15%;
        margin: 0 1em;
    }
    .references-card{
        width: 15em;
        height: 15em;
    }
}