/* =======================================================
    PRESENTATION SECTION
======================================================= */
.presentation{
    min-height: 70vh;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}
/* ================================ */
.presentation-texte{
    padding: 2em;
    margin: 5vh;
    width: 40%;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 50px;
    color: white;
}
.presentation-texte h2{
    margin: 2vh 0;
    text-shadow: 2px 2px black;
}
.presentation-texte p{
    margin-bottom: 4vh;
    text-shadow: 2px 2px black;
}
.presentation-buttons{
    display: flex;
    justify-content: flex-end;
}
.presentation-buttons button{
    cursor: pointer;
    color: black;
    text-decoration: none;
    background-color: white;
    border: solid 2px black;
    border-radius: 10px;
    padding: 0.8em 1.5em;
}
#RDV{
    margin-right: 1em;
}
/* ================================ */
.presentation-img{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.presentation-img img{
    max-width: 100%;
}
/* =======================================================
    SERVICES SECTION
======================================================= */
.services{
    min-height: 100vh;
    text-align: center;
    background-image: url(../img/dirt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* ================================ */
.services-texte{
    padding-top: 20vh;
    width: 50%;
    margin: 0 auto;
    color: white;
    text-shadow: 2px 2px black;
}
.services-texte p{
    padding: 5vh 0 5vh 0;
    margin: 0 auto 0 auto;
}
/* ================================ */
.services-cards{
    justify-content: center;
    padding-bottom: 5vh;
    text-shadow: 2px 2px black;
}
/* ================================ */
.services-card{
    color: white;
    min-height: 40vh;
    max-width: 15%;
    margin: 0 1em;
    padding: 0.5em;
    border-radius: 20px;
    backdrop-filter: blur(25px) saturate(107%);
    -webkit-backdrop-filter: blur(25px) saturate(107%);
    background-color: rgba(17, 25, 40, 0.13);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.services h3{
    margin-top: 2vh;
    font-size: 1.5rem;
}
.services-card p{
    margin-top: 2vh;
}
.services-card img{
    margin: 1.5em 0;
}
.services-card button{
    cursor: pointer;
    color: black;
    text-decoration: none;
    background-color: white;
    border: solid 2px black;
    border-radius: 10px;
    padding: 0.8em 1.5em;
}
/* =======================================================
    INTERLUDE TERRE
======================================================= */
.interlude-terre{
    color: white;
    background-image: linear-gradient(#4C230F,#0E0002);
    text-align: center;
    align-items: center;
    text-shadow: 2px 2px black;
    
}
.interlude-terre-txt{
    margin: 0 auto;
    width: 60%;
    padding: 5em 0;
}
.interlude-terre-txt p{

    padding-top: 2em;

}
/* =======================================================
    REFERENCES SECTION
======================================================= */
.references{
    color: white;
    /* max-height: 100vh; */
    text-align: center;
    padding-top: 18em;
    background-image: url(../img/cave3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* ================================ */
.references-cards{
    justify-content: center;
}
/* ================================ */
.references-card{
    width: 15em;
    height: 15em;
    margin: 1em 2em;
    color: white;
    text-shadow: 2px 2px black;
    text-decoration: none;
    border-radius: 10px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow:  -10px -10px 30px #bebebe,
    10px 10px 30px #ffffff; */
}
.references-card h3{
    font-size: 2.1rem;
}
#violon{
    background-image: url(../img/violon.jpeg);
}
#caraf{
    background-image: url(../img/caraf.jpeg);
}
#pelle{
    background-image: url(../img/pelle.jpeg);
}
#louttre{
    background-image: url(../img/animal.jpeg);
}
#voiture{
    background-image: url(../img/voiture.jpeg);
}
#grimoire{
    background-image: url(../img/grimoire.jpeg);
}
#medecin{
    background-image: url(../img/medecin.jpeg);
}
#train{
    background-image: url(../img/train.jpeg);
}
/* ================================ */
.references-end-texte{
    width: 50%;
    padding: 3em 0;
    margin: 0 auto 0 auto;
    font-size: 1.2rem;
}
.references-end-texte p{
    margin-bottom: 0.8em;
}
.references-end-texte button{
    font-size: 1rem;
    color: black;
    text-decoration: none;
    background-color: white;
    border: solid 2px black;
    border-radius: 10px;
    padding: 0.3em 1.5em;
}
/* =======================================================
    INTERLUDE EAU
======================================================= */
.interlude-eau{
    height: 14em;
    background-image: linear-gradient(#38101B,#1A234C);
}
/* =======================================================
    COMMENTAIRES SECTION
======================================================= */
.commentaires{
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    background-image: url(../img/water3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* ================================ */
.commentaire-img{
    width: 50%;
}
.post-commentaire{
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
    padding: 1%;
    border-radius: 50px;
    width: 40%;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.post-commentaire h2{
    margin: 0.5em 0;
}
.post-commentaire p{
    margin-bottom: 1em;
}
.post textarea{
    padding: 1%;
    width: 90%;
    border: solid 3px black;
    margin-bottom: 1em;
    border-radius: 10px;
}
/* =======================================================
    INTERLUDE LAVE
======================================================= */
.interlude-lave{
    height: 8em;
    background-image: linear-gradient(#141545,#190810);
}


/* =======================================================
    MEDIAS QUERRIES
    Template W3School

    0 to 600px
    601px to 766px
    767px to 992px

======================================================= */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .header-infos-reseaux, h1, .navbar, .presentation-img{
        display: none;
    }
    h2{
        font-size: 2rem;
    }
/* ===================================== */
    .presentation-texte{
        width: 80%;
        margin: auto;
    }
/* ================= */
    .services-texte{
        padding-top: 5em;
        width: 90%;
    }
    .services-cards{
        flex-direction: column;
    }
    .services-card{
        max-width: 90%;
        margin: 0 auto 1em auto;
    }
/* ================= */
    .interlude-terre-txt{
        width: 80%;
    }
/* ================= */
    .references{
        padding-top: 15em;
    }
    .references-cards{
        flex-wrap: wrap;
    }
    .references-card{
        width: 11em;
        height: 11em;
    }
    .references-card h3{
        font-size: 1.5rem;
    }
    .references-end-texte{
        width: 80%;
    }
/* ================= */
    .commentaires{
        flex-direction: column;
    }
    .commentaire-img{
        width: 80%;
    }
    .post-commentaire{
        width: 90%;
    }
/* ================= */
    .footer-end{
        flex-direction: column;
        align-items: center;
    }
    .footer-end a{
        padding: 2px;
        text-align: center;
        border: solid 2px white;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .header-infos-reseaux, .navbar{
        display: none;
    }
    h2{
        font-size: 2rem;
    }
    h1{
        font-size: 3rem;
    }
/* ================= */
    nav li a{
        padding: 0.5em 0.2em;
    }
    .search-bar input{
        width: 100%;
    }
/* ================= */
    .services-texte{
        padding-top: 3em;
        width: 90%;
    }
    .services-cards{
        flex-wrap: wrap;
    }
    .services-card{
        max-width: 40%;
        margin: 0 auto 1em auto;
    }
/* ================= */
    .interlude-terre-txt{
        width: 80%;
    }
/* ================= */
    .references{
        padding-top: 15em;
    }
    .references-cards{
        flex-wrap: wrap;
    }
    .references-card{
        width: 12em;
        height: 12em;
    }
    .references-card h3{
        font-size: 1.6rem;
    }
    .references-end-texte{
        width: 80%;
    }
/* ================= */
    .commentaires{
        flex-direction: column;
        padding-bottom: 2em;
    }
    .commentaire-img{
        margin: 2em 0;
        width: 80%;
    }
    .post-commentaire{
        width: 90%;
    }
/* ================= */
    .footer-end a{
        display: flex;
        align-items: center;
        padding: 2px;
        text-align: center;
        border: solid 2px white;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
/* ================= */
    .services-texte{
        padding-top: 3em;
        width: 90%;
    }
    .services-cards{
        flex-wrap: nowrap;
    }
    .services-card{
        max-width: 20%;
        margin: 0 1em;
    }
    .services-card button{
        justify-content: flex-end;
    }
/* ================= */
    .references-card{
        width: 12em;
        height: 12em;
        margin-left: 5em;
        margin-right: 5em;
    }
/* ================= */
    .commentaires{
        flex-direction: row;
    }
    .commentaire-img{
        width: 55%;
    }
    .post-commentaire{
        width: 35%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}