/* =======================================================
    MEDIAS QUERRIES
======================================================= */

@media only screen and (min-width: 360px) and (max-width: 430px) and (orientation: portrait){
    h1, .presentation-img, .navbar, .header-infos-reseaux, footer{
        display: none;
    }
    h2{
        font-size: 2.3rem;
    }
/* ========================== */
    .presentation-texte{
        min-width: 65%;
        margin: 1em auto;
    }
/* ========================== */
    .services-texte{
        padding-top: 3em;
    }
    .services-texte p{
        min-width: 90%;
    }
    .services-cards{
        flex-direction: column;
    }
    .services-card{
        min-width: 85%;
        margin: 0.5em auto;
    }
/* ========================== */
    .interlude-terre-txt p{
        width: 90%;
        margin: 0 auto 0 auto;
    }
/* ========================== */
    .references-cards{
        flex-wrap: wrap;
    }
    .references-card{
        width: 9em;
        height: 9em;
        margin: 1em 1em;
    }
    .references-card h3{
        font-size: 1.5rem;
    }
    .references-end-texte{
        width: 80%;
    }
/* ========================== */
    .commentaires{
        flex-direction: column;
    }
    .commentaire-img{
        min-width: 90%;
        margin: 0 auto;
    }
    .commentaire-img img{
        width: 100%;
    }
    .post-commentaire{
        min-width: 90%;
    }
}


@media only screen and (min-width: 667px) and (max-width: 932px) and (orientation: landscape){
    h1, .navbar, .header-infos-reseaux, footer{
        display: none;
    }
    h2{
        font-size: 2rem;
    }
    /* ========================== */
    .services-cards{
        flex-wrap: wrap;
    }
    .services-card{
        min-width: 40%;
        margin: 1em auto;
    }
    .services-texte{
        padding-top: 3em;
    }
    .services-texte p{
        min-width: 80%;
        margin-top: 1em;
    }
/* ========================== */
    .interlude-terre-txt p{
        width: 90%;
        margin: 0 auto 0 auto;
    }
/* ========================== */
    .references{
        padding-top: 5em;
    }
    .references-card{
        width: 9em;
        height: 9em;
        margin: 1em 1em;
    }
    .references-card h3{
        font-size: 1.5rem;
    }
    .references-end-texte{
        width: 80%;
    }
}




/* INTERLUDE DES MEDIAS QUERRIES */

@media only screen and (min-width: 431px) and (max-width: 767px) and (orientation: portrait){
    h1, .presentation-img, .navbar, .header-infos-reseaux, footer{
        display: none;
    }
    h2{
        font-size: 2.3rem;
    }
}









/* EXEPTION 1 = MOBILE S -320 */
@media only screen and (min-width: 320px) and (max-width: 430px) and (orientation: portrait){
    h1, .presentation-img, .navbar, .header-infos-reseaux, footer{
        display: none;
    }
    h2{
        font-size: 2.3rem;
    }
/* ========================== */
    .presentation-texte{
        min-width: 65%;
        margin: 1em auto;
    }
/* ========================== */
    .services-texte{
        padding-top: 3em;
    }
    .services-texte p{
        min-width: 90%;
    }
    .services-cards{
        flex-direction: column;
    }
    .services-card{
        min-width: 85%;
        margin: 0.5em auto;
    }
/* ========================== */
    .interlude-terre-txt p{
        width: 90%;
        margin: 0 auto 0 auto;
    }
/* ========================== */
    .references{
        padding-top: 10em;
    }
    .references-cards{
        flex-wrap: wrap;
    }
    .references-card{
        width: 8em;
        height: 8em;
        margin: 1em 1em;
    }
    .references-card h3{
        font-size: 1.5rem;
    }
    .references-end-texte{
        width: 80%;
    }
/* ========================== */
    .commentaires{
        flex-direction: column;
    }
    .commentaire-img{
        min-width: 90%;
        margin: 0 auto;
    }
    .commentaire-img img{
        width: 100%;
    }
    .post-commentaire{
        min-width: 90%;
    }
}