body{
    background-image: url(../img/forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    color: white;
    text-shadow: 2px 2px 1px black;
}
h2{
    margin-top: 0.5em;
}
/* =================================== */
.ref-presentation{
    padding: 2em 0;
    justify-content: space-evenly;
}
.ref-presentation p{
    margin: 1em 0;
}
/* =================================== */
.reference-preview{
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    border-top: solid 5px white;
    border-bottom: solid 5px white;
    padding: 1.5em 0;
    align-items: center;
}
/* =================================== */
.ref-content{
    width: 30%;
    margin-right: 2em;
    padding: 2em 4em;
    backdrop-filter: blur(4px) saturate(170%);
    -webkit-backdrop-filter: blur(4px) saturate(170%);
    background-color: rgba(32, 35, 41, 0.4);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.ref-content h3{
    margin: 1em 0;
    font-size: 1.5rem;
    font-weight: 600;
}
.ref-content p{
    margin: 0.5em 0;
}
.ref-content button{
    cursor: pointer;
    margin: 2em 0;
    padding: 1em 5em;
    background-color: black;
    color: white;
}
/* =================================== */
.ref-image img{
    max-width: 100%;
    border-radius: 50px;
    border: 2px solid white;
}


.footer-all{
    flex-direction: column;
    align-items: center;
    padding: 3em;
}
/* ===================================== */
.dropdown{
    margin: 1em 0;
    display: inline-block;
}
.dropdown button{
    background-color: hsl(0, 0%, 80%);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 95%);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: hsl(0, 0%,705%);
}
.dropdown a:hover{
    background-color: hsl(0, 0%, 90%);
}
/* ===================================== */
.footer-end{
    padding: 1em;
    display: flex;
    justify-content: space-around;
}
.footer-end a{
    color: white;
    text-decoration: none;
}