body{
    background-image: url(../img/forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    color: white;
    text-shadow: 2px 2px 1px black;
}
h2{
    margin-top: 0.5em;
}
/* =================================== */
.ref-presentation{
    padding: 2em 0;
    justify-content: space-evenly;
}
.ref-presentation p{
    margin: 1em 0;
}
/* =================================== */
.reference-preview{
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    border-top: solid 5px white;
    border-bottom: solid 5px white;
    padding: 1.5em 0;
    align-items: center;
}
/* =================================== */
.ref-content{
    width: 30%;
    margin-right: 2em;
    padding: 2em 4em;
    backdrop-filter: blur(4px) saturate(170%);
    -webkit-backdrop-filter: blur(4px) saturate(170%);
    background-color: rgba(32, 35, 41, 0.4);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.ref-content h3{
    margin: 1em 0;
    font-size: 1.5rem;
    font-weight: 600;
}
.ref-content p{
    margin: 0.5em 0;
}
.ref-content button{
    cursor: pointer;
    margin: 2em 0;
    padding: 1em 5em;
    background-color: black;
    color: white;
}
/* =================================== */
.ref-image{
    max-width: 40%;
    border-radius: 50px;
    border: 2px solid white;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .reference-preview{
        flex-direction: column-reverse;
    }
    .ref-content{
        width: 70%;
        margin: auto;
        padding: 5vh;
        margin-top: 2em;
    }
    .ref-image{
        min-width: 60%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .reference-preview{
        flex-direction: column-reverse;
    }
    .ref-content{
        width: 70%;
        margin: auto;
        margin-top: 2em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .reference-preview{
        flex-direction: row;
        align-items: center;
    }
    .ref-content{
        max-width: 30%;
        margin: 0;
    }
    .ref-image{
        max-width: 40%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 2000px){...}