h2{
    margin-top: 0.5em;
}
/* =================================== */
.ref-presentation{
    justify-content: space-evenly;
    align-items: center;
}
.ref-presentation p{
    margin: 1em 0;
}
.arianne{
    margin-left: 1em;
}
.arianne ul{
    display: flex;
}
.arianne li{
    display: inline;
}
.arianne a{
    cursor: default;
    color: black;
    text-decoration: none;
    position: relative;
    background-color: lightgray;
    margin-right: 1.5em;
    padding: 0.5em 1em;
}
.arianne a::before,
.arianne a::after{
    content: "";
    position: absolute;
    border-color: lightgray;
    border-style: solid;
    border-width: 1.05em 15px;
    top: 0;
}
.arianne a::before{
    left: -1em;
    border-left-color: transparent;
}
.arianne a::after{
    left: 100%;
    border-color: transparent;
    border-left-color: lightgray;
}
/* =================================== */
.reference-preview{
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    border-top: solid 5px black;
    align-items: center;
}
/* =================================== */
.ref-content{
    width: 30%;
    height: 100%;
    padding: 1em 0 0em 2em;
    background-color: aliceblue;
}
.ref-content h3{
    margin: 1em 0;
    font-size: 1.5rem;
    font-weight: 600;
}
.ref-content p{
    margin: 0.5em 0;
}
.ref-content button{
    cursor: pointer;
    margin: 2em 0;
    padding: 1em 5em;
    background-color: black;
    color: white;
}
/* =================================== */
.ref-image{
    max-width: 60%;
}